@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

/* Estilos generales */
body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right bottom, #89ace1, #7ea6e2, #74a1e2, #689be3, #5c95e3, #5492e4, #4c90e5, #438de6, #3d8de8, #358deb, #2d8eed, #218ef0)!important;
}
  
/* Estilos de la imagen izquierda */
.img-left {
    width: 50%;
    background: url('../images/dxtv-image.png') center ;
    background-size: cover;
}
  
/* Estilos de la tarjeta */
.card {
    height: 500px;
    overflow: hidden;
    border: 0 !important;
    border-radius: 20px !important;
    box-shadow: 0 0 17px 10px rgb(0 0 0 / 30%);
}
  
/* Estilos del cuerpo de la tarjeta */
.card-body {
    padding: 2rem;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
/* Estilos del título */
.title {
    margin-bottom: 2rem;
}

/* Estilos del botón de envío del formulario */
.btn-outline-primary.login-button {
    border-radius: 20px !important;
    width: 300px !important;
}

/* Estilos de la caja del formulario */
.form-box {
    align-items: center;
    justify-content: center;
}
  
/* Estilos de la entrada de formulario */
.form-input {
    position: relative;
}
  
.form-input input {
    width: 100%;
    height: 45px;
    padding-left: 40px;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: none;
    border: 1px solid #00000020;
    border-radius: 50px;
    outline: none;
    background: transparent;
}
  
/* Estilos del ícono en la entrada de formulario */
.form-input span {
    position: absolute;
    top: 10px;
    padding-left: 15px;
    color: #007bff;
}
  
/* Estilos del marcador de posición en la entrada de formulario */
.form-input input::placeholder {
    color: black;
    padding-left: 0px;
}
  
/* Estilos del marcador de posición en la entrada de formulario cuando se enfoca */
.form-input input:focus::placeholder {
    color: #454b69;
}
  
/*  Estilos de la tabla de hashtags */
.container-table {
    max-width: 1000px;
    margin: 0 auto;
    grid-template-columns: 100%;
    box-shadow: 0 0 17px 10px rgb(0 0 0 / 30%);
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
}
.table-redondeada table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px; /* Ajusta el valor según el grado de redondeo deseado */
    overflow: hidden;
}

.table-redondeada th, .table-redondeada td {
    border: 1px solid #ccc; /* Agrega bordes a las celdas si lo deseas */
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
}
/* Tabla de Hashtags*/
.custom-table{
    text-align: center;
}
.custom-row {
    justify-content: center;
    align-items: center; 
    padding: 30px
}
.table-fixed {
    position: sticky;
    top: 0;
    z-index: 1000;
}
.table-responsive {
    max-height: 500px; 
    overflow-y: auto; 
}

table.table tr td,
table.table tr th {
    vertical-align: middle;
}

/* Boton de "Crear Nuevo" */
a.btn.btn-primary[href="create.php"] {
    border-radius: 20px; 
    width: 120px;
}

/* Boton descarga CVS */
.btn.btn-success.btn-download {
    border-radius: 20px; 
    width: 120px;
    margin: 0px 0px 0px 10px;
}

/* Boton de "Salir" */
a.btn.btn-danger.logout-button[href="controller/controller_logout.php"] {
    border-radius: 20px;
    width: 90px;
    margin: 0px 0px 16px 10px;
}

/* Estilos de la Alerta del Login*/
.alert {
    text-align: center;
    margin-top: 18px;

  }
  